21-02-2023

# PYTHON

Keywords and Identifiers

Keywords are predefined reserveed words in Python. We cannot use keywords as variable names

Indentifiers are the name given to variables clases module etc, Identifiers cannot be keyword, its case sensitive,
it cannot start with special char(_) or number, it connot contain void space.

In [2]:
print('Variable')

Variable

In [4]:
X='Variable'
Y='variable'

In [5]:
print(X,Y)

Variable variable

In [6]:
X='_Variable'
Y='@variable'

In [7]:
print(X,Y)

_Variable @variable

python comments #

In [8]:
#creating a variable
x='my name is adyasha'

In [9]:
# printing the value
x

'my name is adyasha'

In [ ]:
'''i am from odisha 
i have completed my btech in ece
i am poor in coding language'''

PYTHON VARIABLES CONSTANTS AND LITERALS

Variable is a container that stores data.

In [11]:
x=20
y=39
z=x+y

In [12]:
z

59

In [13]:
A,B,C=5,4.56,'adus'

In [18]:
print(A)
type(A)

5

int

In [21]:
print(B)
type(B)

4.56

float

In [22]:
print(C)
type(C)

adus

str

In [23]:
a=b=5.667
print(a)
print(b)

5.667
5.667

In [24]:
adya sha=5

SyntaxError: invalid syntax (146322892.py, line 1)

In [25]:
adya_sha=5

In [26]:
adya_Sha=5

In [27]:
8asd=5

SyntaxError: invalid syntax (3179386890.py, line 1)

In [28]:
sad=5

In [29]:
Sad=5

In [30]:
adyaSha=5

In [31]:
True=5

SyntaxError: cannot assign to True (3091963775.py, line 1)

In [ ]:
### Constants are special type of variables whose values cannot be changed
ex: pi=3.14, gravity=9.8

In [33]:
import constants

ModuleNotFoundError: No module named 'constants'

In [45]:
pip install constants

Requirement already satisfied: constants in c:\users\23ady\anaconda3\lib\site-packages (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
import constant

In [49]:
print(constant.pi)

AttributeError: module 'constant' has no attribute 'pi'

In [55]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [61]:
#This function has a variable with# name same as s.    
def f():
    s = "Me too."
    print(s)    
# Global
s = "I love Geeksforgeeks"
f()
print(s)

SyntaxError: invalid non-printable character U+00A0 (2385234511.py, line 4)

In [64]:
def f():
    s='me too'
    print(s)
s = 'I LOVE GEEKSFORGEEKS'
f()
print(s)

me too
I LOVE GEEKSFORGEEKS

Literals represents fixed values in a program, they can be number, char, string

#### Python Datatypes

Python Numerica Datatypes: int(non limited length),float(decimal value, upto 15 decimal place),complex value

In [65]:
num = 2

In [66]:
print(num)

2

In [68]:
type(num)

int

In [69]:
num=3.44
print(num)
type(num)

3.44

float

In [71]:
num=1+2j
print(num)
type(num)

(1+2j)

complex

#### Python String Datatypes

In [72]:
name = 'apple'
print(name)
type(name)

apple

str

#### Python type conversion

In [74]:
num = 3004
print(num)
type(num)

3004

int

In [76]:
num = float(3004)
print(num)
type(num)

3004.0

float

In [77]:
num = str(3004)
print(num)
type(num)

3004

str

In [78]:
i =5
f = 'india'
j=i+f

print(j)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
i =5
f = 'india'
j=str(i)+f

print(j)

5india

# PYTHON INPUT OUTPUT

24-02-2023

In [1]:
var=input('enter your number')

enter your number34

In [7]:
x=1
y=2

In [12]:
print('The value of x =',x,'and y =',y)

The value of x = 1 and y = 2

In [6]:
x=1
y=2
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 1 and y is 2

# OPERATORS

Operators are special symbols that perform operations on variables and values.

## TYPES OF OPERATOR

There are 6 types of operatos in python
1. Arithmatic Operator: used to perform mathematical operations('+','-','*','/','//','%','**')

In [13]:
x=3
y=2

In [16]:
#Addition

z=x+y

print('z=',z)

z= 5

In [18]:
#Subtraction

Sub=x-y

print('Sub=',Sub)

Sub= 1

In [19]:
#Multiplication

mul=x*y
print('mul=',mul)

mul= 6

In [20]:
#Division

div=x/y
print('div=',div)

div= 1.5

In [21]:
#Floor Division

FD = x//y
print('float division=',FD)

float division= 1

In [24]:
#Modulus

a=34
b=17

mod=a%b
print('mod=',mod)

mod= 0

In [25]:
#Exponent

pow=4**3
print('power=',pow)

power= 64

2. ASSIGNMENT OPERATOR: Used to assign values to variable. ('=','+=','-=','*=','/=','%=','**=')

In [2]:

a=5

In [3]:
a+=4

In [4]:
a

9

In [5]:
a-=2

In [6]:
a

7

In [7]:
a*=3
a

21

In [8]:
a/=7

In [9]:
a

3.0

In [10]:
a**=2

In [11]:
a

9.0

3. PYTHON COMPARISON OPERATOR

Comparision operator is used to compare two values and gives the result in boolean format. ('==','!=','>','<','>=','<=')

In [12]:
c=334
d=32

In [13]:
c==d

False

In [14]:
c!=d

True

In [15]:
c>d

True

In [16]:
c<d

False

In [17]:
c>=d

True

In [18]:
c<=d

False

PYTHON LOGICAL OPERATOR

Logical operators are used to check whether an expression is true or false ('and','or','not')

In [20]:
a=23
b=23

In [21]:
print(a==b and a!=b)

False

In [22]:
print(a==b and a==b)

True

In [28]:
print(a!=b and a!=b)

False

In [29]:
print(a!=b and a==b)

False

In [23]:
print(a==b or a==b)

True

In [24]:
print(a==b or a!=b)

True

In [25]:
print(a!=b or a!=b)

False

In [27]:
print(a!=b or a==b)

True

In [33]:
print(not a==b)

False

In [34]:
print(not a!=b)

True

PYTHON BITWISE OPERATOR

This operator is used to perform bitwise calculations (bitwise ' &  |  ~  ^  >>  <<  ')

In [35]:
a=10
b=20

a&b

0

In [36]:
a|b

30

In [37]:
a~b

SyntaxError: invalid syntax (3997473547.py, line 1)

In [38]:
a^b

30

In [39]:
a>>b

0

In [40]:
a<<b

10485760

PYTHON SPECIAL OPERATOR

is and is not

In [41]:
x1=2
y1=2

x2='adya'
y2='adya'

In [42]:
print(x1 is x2)

False

In [43]:
print(x2 is y2)

True

In [44]:
print(x1 is y1)

True

In [45]:
print(x2 is y1)

False

In [46]:
print(x1 is not y2)

True

In [47]:
print(x2 is not y1)

True

MEMBERSHIP OPERATOR

in: if value is found in sequence
not in: if value is not found in sequence

In [48]:
x="my name is adya"
print('a' in x)

True

In [49]:
print('A' not in x)

True

In [50]:
print('A' in x)

False

# DATA STRUCTURES IN PYTHON

Python data structures include (i) List (ii) Tuple (iii)Set and (iv) Dictionary

### LISTS

A list is an ordered collectio of data. It can be nested which means it can contain any type of object
it can contain another list or sublist within it. It can be mutable that means we can search, add, delete,
replace, shift and move even after a list is created.

In [1]:
L1=[1,2,3,4,4,5]

print('L1=',L1)

L1= [1, 2, 3, 4, 4, 5]

In [2]:
L2=['A','DC','FR','SD','HG','SE']

print('L2=',L2)

L2= ['A', 'DC', 'FR', 'SD', 'HG', 'SE']

In [4]:
L3=[12,34,54,'SH','RRFS','DHYGF',6723.32,72873.32]

print('L3=',L3)

L3= [12, 34, 54, 'SH', 'RRFS', 'DHYGF', 6723.32, 72873.32]

append function is used to add an object in the end of a list

In [6]:
L2.append('DSJJ','YGD','SGDGE')

TypeError: list.append() takes exactly one argument (3 given)

In [7]:
L2.append('DYS')

L2

['A', 'DC', 'FR', 'SD', 'HG', 'SE', 'DYS']

In [49]:
L1.append(35265)

L1

[1, 2, 3, 4, 89, 35265]

In [51]:
L3.append('235')

L3

[12, 34, 54, 'SH', 'RRFS', 'DHYGF', 6723.32, 72873.32, '235', '235']

To add more than 1 object to a list we can use the extend function

In [53]:
L1.extend([23,445,879])

L1

[1, 2, 3, 4, 89, 35265, 23, 445, 879]

In [54]:
L2.extend(['asfdas','sgdvgdg','sgfdqdu'])

L2

['A', 'DC', 'FR', 'HG', 'SD', 'SE', 'fey', 'asfdas', 'sgdvgdg', 'sgfdqdu']

In [55]:
L3.extend(['32wcbb',3554254,8743.89])

L3

[12,
 34,
 54,
 'SH',
 'RRFS',
 'DHYGF',
 6723.32,
 72873.32,
 '235',
 '235',
 '32wcbb',
 3554254,
 8743.89]

INDEXING

In [20]:
L1[4]

4

In [21]:
L2[5]

'HG'

In [8]:
L2[3]

'SD'

SLICING

In [22]:
L2[1:4]

['DC', 'FR', 'SD']

In [23]:
L2

['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE', 'DYS']

In [24]:
L2[0:]

['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE', 'DYS']

In [25]:
L2[:7]

['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE']

In [28]:
#NEGETIVE SLICING

L2[-8:-1]

['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE']

In [29]:
L2[-3:]

['HG', 'SE', 'DYS']

In [30]:
len(L1)

6

In [31]:
len(L2)

8

In [32]:
len(L3)

8

In [33]:
L1[-6:]

[1, 2, 3, 89, 4, 4]

to add any object at a specific location we need to use insert function

In [10]:
L2.insert(4,'fey')

L2

['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE', 'DYS']

In [12]:
L1.insert(3,89)

L1

[1, 2, 3, 89, 89, 4, 4, 5]

In [13]:
L3.insert(6,'sdbbd',7,78347.27)

TypeError: insert expected 2 arguments, got 4

In [14]:
L3.insert('dfsjehd',878.33)

TypeError: 'str' object cannot be interpreted as an integer

In [15]:
L1

[1, 2, 3, 89, 89, 4, 4, 5]

In [16]:
L1.add(78.32,98,34)

AttributeError: 'list' object has no attribute 'add'

In [17]:
L1.pop()

5

In [18]:
L1

[1, 2, 3, 89, 89, 4, 4]

In [19]:
L1.pop(4)

89

pop function can be used it self to pop/delete an element from the end or can be used with index no to delete from the specific index

In [35]:
print(L1)
print(L2)
print(L3)

[1, 2, 3, 89, 4, 4]
['A', 'DC', 'FR', 'SD', 'fey', 'HG', 'SE', 'DYS']
[12, 34, 54, 'SH', 'RRFS', 'DHYGF', 6723.32, 72873.32]

In [36]:
L3.index('RRFS')

4

In [37]:
L3.index(6723.32)

6

In [38]:
L2.index('FR')

2

In [39]:
L2.index('fey')

4

In [40]:
L2.sort()           #Sort function will sort all the obejcts alphabetically/from ascending to descending

In [41]:
L2

['A', 'DC', 'DYS', 'FR', 'HG', 'SD', 'SE', 'fey']

In [42]:
L3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
L1.sort()

In [44]:
L1

[1, 2, 3, 4, 4, 89]

In [45]:
L1.remove(4)

In [46]:
L1

[1, 2, 3, 4, 89]

In [47]:
L2.remove('DYS')

In [48]:
L2

['A', 'DC', 'FR', 'HG', 'SD', 'SE', 'fey']

In [56]:
print(L1)
print(L2)
print(L3)

[1, 2, 3, 4, 89, 35265, 23, 445, 879]
['A', 'DC', 'FR', 'HG', 'SD', 'SE', 'fey', 'asfdas', 'sgdvgdg', 'sgfdqdu']
[12, 34, 54, 'SH', 'RRFS', 'DHYGF', 6723.32, 72873.32, '235', '235', '32wcbb', 3554254, 8743.89]

to reverse the order of a list we can use the reverse function

In [57]:
L3.reverse()

L3

[8743.89,
 3554254,
 '32wcbb',
 '235',
 '235',
 72873.32,
 6723.32,
 'DHYGF',
 'RRFS',
 'SH',
 54,
 34,
 12]

In [58]:
L2.reverse()

L2

['sgfdqdu', 'sgdvgdg', 'asfdas', 'fey', 'SE', 'SD', 'HG', 'FR', 'DC', 'A']

In [60]:
L1.reverse()

L1

[1, 2, 3, 4, 89, 35265, 23, 445, 879]

In [61]:
L1.clear()

In [62]:
L1          #It will clear all the content of the 
            #list but the empty list will be there

[]

In [63]:
del L1     #del function will delete the whole list

L1

NameError: name 'L1' is not defined

### TUPLES

A tuple is also an ordered collection of objects. Tuples are sequened like list and are unmutable that means it cannot be changes once created

In [64]:
tup1=(1,23,4,556,8,97)

print('tup1=',tup1)

tup1= (1, 23, 4, 556, 8, 97)

In [65]:
tup1[3]

556

In [66]:
tup1[0:3]

(1, 23, 4)

In [67]:
tup1[-6:-2]

(1, 23, 4, 556)

In [68]:
tup1.append(32)

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
tup1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [70]:
tup1.index(556)

3

In [72]:
tup2=('ds','er','rt4e','wqe3qr','d5eed',643)

In [73]:
tup2

('ds', 'er', 'rt4e', 'wqe3qr', 'd5eed', 643)

In [74]:
tup3=(2,34,55,3,2,3,56,753,76534,3)

tup3

(2, 34, 55, 3, 2, 3, 56, 753, 76534, 3)

In [76]:
tup3.count(3)

3

In [77]:
tup3[3]=265

TypeError: 'tuple' object does not support item assignment

### DICTIONARIES

In python a dictionary is a set of {key:value} pair where the key is unique. A dictionary is an unordered collection. List and dictionary objects are mutable

In [79]:
dict={'Name':'RAM','Age':24,'Salary':50000}

dict

{'Name': 'RAM', 'Age': 24, 'Salary': 50000}

In [82]:
dict['height']=6

dict

{'Name': 'RAM', 'Age': 24, 'Salary': 50000, 'height': 6}

In [83]:
dict['Age']

24

In [84]:
dict['Name']

'RAM'

In [85]:
dict['Salary']

50000

In [86]:
del dict['height']

In [87]:
dict

{'Name': 'RAM', 'Age': 24, 'Salary': 50000}

In [88]:
dict(keys)

NameError: name 'keys' is not defined

In [89]:
list(dict)

['Name', 'Age', 'Salary']

In [90]:
val(dict)

NameError: name 'val' is not defined

In [92]:
sorted(dict)

['Age', 'Name', 'Salary']

In [93]:
dict.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [95]:
'RAM' in dict

False

In [96]:
'Name' in dict

True

In [97]:
'Age' not in dict

False

In [109]:
dict([('Name','Anusha'),('Age',14),('Class',9)])

dict('Name'==Anusha,'Age'==15,'Class'==9)

TypeError: 'list' object is not callable

In [105]:
{x:x/2 for x in (16,18,200)}

{16: 8.0, 18: 9.0, 200: 100.0}

In [106]:
{x:x//2 for x in (16,18,200)}

{16: 8, 18: 9, 200: 100}

### SETS

Sets are unordered collection of data types in python which are immutable that means once created cannot be changed. It does not allow any repetetion of elements which is its major advantage.

In [1]:
st={1,34,5,6,33,45,66,2,6,2}    # it do not allow repetetion of elements

st

{1, 2, 5, 6, 33, 34, 45, 66}

In [2]:
st.index[5]  #set do not have indexing that is why its unordered

AttributeError: 'set' object has no attribute 'index'

In [4]:
st.add(45)

In [5]:
st

{1, 2, 5, 6, 33, 34, 45, 66}

In [6]:
st.append(25)

AttributeError: 'set' object has no attribute 'append'

In [7]:
st.add(11)

In [8]:
st        #since its unordered the value can be added anywhere

{1, 2, 5, 6, 11, 33, 34, 45, 66}

In [9]:
days=set(['sun','mon','tues','thurs'])   #set can be represented in this format as well

print(days)

{'thurs', 'mon', 'sun', 'tues'}

In [10]:
days.add('fri')

days

{'fri', 'mon', 'sun', 'thurs', 'tues'}

In [11]:
type(days)

set

In [12]:
days.remove('sun')

In [13]:
days

{'fri', 'mon', 'thurs', 'tues'}

In [14]:
days.pop()

'mon'

In [15]:
days.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [16]:
days

{'fri', 'thurs', 'tues'}

In [17]:
days.clear()

In [18]:
days

set()

In [19]:
del days

In [20]:
days

NameError: name 'days' is not defined

# LOOPS

### WHILE LOOP

In [21]:
#initialization

i=0

#condition
while (i<10):
    print(i)
    i=i+1      #increment

0
1
2
3
4
5
6
7
8
9

In [24]:
i=4

while(i<40):
    print('i=',i)
    i=i+2

i= 4
i= 6
i= 8
i= 10
i= 12
i= 14
i= 16
i= 18
i= 20
i= 22
i= 24
i= 26
i= 28
i= 30
i= 32
i= 34
i= 36
i= 38

In [25]:
m=0
while(m<=60):
    print(m)
    m=m+5

0
5
10
15
20
25
30
35
40
45
50
55
60

In [31]:
#to generate table
i=0
p=int(input('enter number for table to be generated'))

while(i<=10):
    print(i*p)
    i=i+1

enter number for table to be generated12
0
12
24
36
48
60
72
84
96
108
120

In [34]:
i=0
p=int(input('enter number'))

while(i<11):
    print(p,'*',i,'=',i*p)
    i=i+1

enter number5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [35]:
#to find the square of any number

i=0
p=int(input('enter power'))

while(i<=10):
    print(i,'**',p,'=',p**i)
    i=i+1

enter power2
0 ** 2 = 1
1 ** 2 = 2
2 ** 2 = 4
3 ** 2 = 8
4 ** 2 = 16
5 ** 2 = 32
6 ** 2 = 64
7 ** 2 = 128
8 ** 2 = 256
9 ** 2 = 512
10 ** 2 = 1024

In [36]:
p=0

while(p<100):
    print('p=',p)
    print('next')
    p=p+5
    
print('the end')

p= 0
next
p= 5
next
p= 10
next
p= 15
next
p= 20
next
p= 25
next
p= 30
next
p= 35
next
p= 40
next
p= 45
next
p= 50
next
p= 55
next
p= 60
next
p= 65
next
p= 70
next
p= 75
next
p= 80
next
p= 85
next
p= 90
next
p= 95
next
the end

### FOR LOOP

In [27]:
for index in [1,2,4,5]:
    print(index)

1
2
4
5

In [28]:
for i in ('a','b','c','d'):
    print(i)

a
b
c
d

In [37]:
lit=['sun','mon','tues','thurs','fri']

for i in lit:
    print(i)

sun
mon
tues
thurs
fri

### RANGE

In [1]:
range(8)

range(0, 8)

In [2]:
range(0,7)

range(0, 7)

In [3]:
p=range(6)

print(p)

range(0, 6)

In [4]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [5]:
range(4,9)

range(4, 9)

In [6]:
list(range(3,9))

[3, 4, 5, 6, 7, 8]

In [8]:
r=range(2,9)

while(r<11):
    print(r)

TypeError: '<' not supported between instances of 'range' and 'int'

In [9]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [10]:
list(range(2,100,5))

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [11]:
range(8,16)

for i in range(8,16):
    print(i)

8
9
10
11
12
13
14
15

In [12]:
range(8,40)

for i in range(8,40,2):
    print(i)

8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [13]:
#table generation using range

p=int(input("enter number for table geneartion"))

for i in range(11):
    print(p,'*',i,'=',p*i)

enter number for table geneartion15
15 * 0 = 0
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [21]:
#squareroot using range

p=int(input('enter power'))

for i in range(15):
    print(i,'^',p,'=',i**p)

enter power3
0 ^ 3 = 0
1 ^ 3 = 1
2 ^ 3 = 8
3 ^ 3 = 27
4 ^ 3 = 64
5 ^ 3 = 125
6 ^ 3 = 216
7 ^ 3 = 343
8 ^ 3 = 512
9 ^ 3 = 729
10 ^ 3 = 1000
11 ^ 3 = 1331
12 ^ 3 = 1728
13 ^ 3 = 2197
14 ^ 3 = 2744

In [20]:
lst1=[]

for i in ['samsung','lg','sony','asus','lenevo','hp']:
    lst1.append(i)
    print(lst1)
print('some brand names=',lst1)

['samsung']
['samsung', 'lg']
['samsung', 'lg', 'sony']
['samsung', 'lg', 'sony', 'asus']
['samsung', 'lg', 'sony', 'asus', 'lenevo']
['samsung', 'lg', 'sony', 'asus', 'lenevo', 'hp']
some brand names= ['samsung', 'lg', 'sony', 'asus', 'lenevo', 'hp']

## IF CONSTRUCT

In [23]:
p=int(input('enter no to determine even or odd'))

if (p%2==0):
    print('The given number is even')
else:
    print('The given number is odd')

enter no to determine even or odd2346
The given number is even

In [25]:
p=int(input('enter no to determine odd or even'))

if (p%2!=0):
    print('The given number is odd')
else:
    print('The given number is even')

enter no to determine odd or even828309930
The given number is even

In [27]:
p=int(input('enter number'))

if (p>60):
    print('GOOD')
else:
    print('AVERAGE')

enter number78
GOOD

In [32]:
P=int(input('Enter Marks Obtained'))

if (P>90):
    print('A+ Grade')
elif (P>80 and P<90):
    print('A GRADE')
elif (P>70 and P<80):
    print('B GRADE')
elif (P>60 and P<70):
    print('C GRADE')
elif (P<60):
    print('D GRADE')

Enter Marks Obtained87
A GRADE

In [35]:
for i in ['APPLE','BANANA','CARROT','GRAPES','MANGO']:
    if (i=='CARROT'):
        break
    print(i)

APPLE
BANANA

In [36]:
for i in ['APPLE','BANANA','GRAPES','CARROT','MANGOE','LITCHI']:
    if (i=='CARROT'):
        continue
    print(i)

APPLE
BANANA
GRAPES
MANGOE
LITCHI

In [39]:
for p in range(10):
    if (p==8):
        break
    print(p)

0
1
2
3
4
5
6
7

In [44]:
for i in range(0,17):
    if (i>6):
        continue
    print(i)

0
1
2
3
4
5
6

LIST COMPREHENSION

In [46]:
list1=[1,23,4,55,6,65,3,42]
m=[i for i in list1]

print(m)

[1, 23, 4, 55, 6, 65, 3, 42]

In [47]:
d=[i for i in range(0,32)]
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [48]:
d=[i for i in range(0,32) if i%2==0]

print(d)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [49]:
d=[i for i in range(0,40) if i>20]
print(d)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [56]:
a=int(input('enter your number'))

b=[i for i in a if i>3]
print(b)

enter your number8

TypeError: 'int' object is not iterable

## STRING FUNCTION

In [59]:
word1='computer'

In [60]:
word1

'computer'

In [61]:
word1.upper()

'COMPUTER'

In [63]:
word2='SCIENCE'
word2

'SCIENCE'

In [64]:
word2.lower()

'science'

In [65]:
word3='i am learning data science'
word3

'i am learning data science'

In [86]:
p=word3.title()
p

'I Am Learning Data Science'

In [87]:
p.istitle()

True

In [68]:
word3

'i am learning data science'

In [69]:
word3.capitalize()

'I am learning data science'

In [70]:
word3.split()

['i', 'am', 'learning', 'data', 'science']

In [71]:
word1.isupper()

False

In [73]:
word1.islower()

True

In [74]:
word2.isupper()

True

In [75]:
word2.islower()

False

In [77]:
word4='Analytics'
word4

'Analytics'

In [79]:
word4.isalpha()

True

In [92]:
x='674276378'
x

'674276378'

In [93]:
x.isdigit()

True

In [81]:
word4.isdigit()

False

In [82]:
word5='adya215'
word5

'adya215'

In [83]:
word5.isalnum()

True

In [88]:
word='data science'
word

'data science'

In [89]:
word.swapcase()

'DATA SCIENCE'

In [98]:
word.count('a')

2

In [99]:
word3

'i am learning data science'

In [100]:
word3.count('data')

1

In [101]:
word3.startswith('A')

False

In [102]:
word3.startswith('i')

True

In [103]:
word3.endswith('science')

True

In [104]:
word3.endswith('analyst')

False

In [105]:
word3.find('learning')

5

In [106]:
word3.find('data')

14

In [107]:
word19=('i can do it')
word19

'i can do it'

In [108]:
word19.replace('it','everything')

'i can do everything'

In [109]:
a=['i','need','more','knowledge']
a

['i', 'need', 'more', 'knowledge']

In [110]:
''.join(a)

'ineedmoreknowledge'

In [111]:
' '.join(a)

'i need more knowledge'

In [114]:
#casefold isn't casesensitive that means it wont check for uppercase and lowercase letter

x1='Python'
x2='python'

if x1 == x2:
    print('Its a match')
else:
    print('Its not a match')

Its not a match

In [116]:
if x1.casefold()==x2.casefold():
    print('Its a match')
else:
    print('Its not a match')

Its a match

In [ ]:
#string printing format
c-style format
string.format

In [1]:
name='john'
print("hello, %s" % name)

hello, john

In [3]:
name='john'
age=23
salary=87434.438
print('%s is %d years old taking salary %f ' % (name,age,salary))
print('%s id %d years old taking salary %0.2f ' % (name,age,salary))

john is 23 years old taking salary 87434.438000
john id 23 years old taking salary 87434.44

In [7]:
length=23
breadth=12.56
area=length*breadth
name='rectangle'
print('area of %s with length %d and breadth %f is %d' % (name,length,breadth,area))

area of rectangle with length 23 and breadth 12.560000 is 288

In [8]:
fruit1='mango'
fruit2='apple'
fruit3='grapes'
print('i like %s and %s more than %s' %(fruit1,fruit3,fruit2))

i like mango and grapes more than apple

string.format functions

In [10]:
print('people generally take {} with {}'.format('coke','pizza'))

people generally take coke with pizza

In [11]:
print('people generally take {0} with {1}'.format('bread','jam'))

people generally take bread with jam

In [12]:
print('people generally take {1} with {0}'.format('beer','chowmine'))

people generally take chowmine with beer

In [15]:
name=str(input('enter name here '))
age=int(input('enter age here '))
salary=float(input('enter salary here '))

print('his name is {} , he is {} , his salary is {} ,'.format(name,age,salary))

enter name here ADYASHA
enter age here 24
enter salary here 133454
his name is ADYASHA , he is 24 , his salary is 133454.0 ,

# FUNCTIONS

Function is a group of related statements that perform a specific task

Functions are of 3 type.

i.   pre-defined function

ii.  user defined function

iii. lambda function/annonymous function

i. pre-defined function / Built-in function

In [ ]:
help(),print(),int(),float(),str(),range(),min(),max(),input(),list()

In [17]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> range
Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

help> class
Class definitions
*****************

A class definition defines a class object (see section The standard
type hierarchy):

   classdef    ::= [decorators] "class" classname [inheritance] ":" suite
   inheritance ::= "(" [argument_list] ")"
   classname   ::= identifier

A class definition is an executable statement.  The inheritance list
usually gives a list of base classes (see Metaclasses for more
advanced uses), so each item in the list should evaluate to a class
object which allows subclassing.  Classes without an inheritance list
inherit, by default, from the base class "object"; hence,

   class Foo:
       pass

is equivalent to

   class Foo(object):
       pass

The class’s suite is then executed in a new execution frame (see
Naming and binding), using a newly created local namespace and the
original global namespace. (Usually, the suite contains mostly
function definitions.)  When the class’s suite finishes execution, its
execution frame is discarded but its local namespace is saved. [3] A
class object is then created using the inheritance list for the base
classes and the saved local namespace for the attribute dictionary.
The class name is bound to this class object in the original local
namespace.

The order in which attributes are defined in the class body is
preserved in the new class’s "__dict__".  Note that this is reliable
only right after the class is created and only for classes that were
defined using the definition syntax.

Class creation can be customized heavily using metaclasses.

Classes can also be decorated: just like when decorating functions,

   @f1(arg)
   @f2
   class Foo: pass

is roughly equivalent to

   class Foo: pass
   Foo = f1(arg)(f2(Foo))

The evaluation rules for the decorator expressions are the same as for
function decorators.  The result is then bound to the class name.

Changed in version 3.9: Classes may be decorated with any valid
"assignment_expression". Previously, the grammar was much more
restrictive; see **PEP 614** for details.

**Programmer’s note:** Variables defined in the class definition are
class attributes; they are shared by instances.  Instance attributes
can be set in a method with "self.name = value".  Both class and
instance attributes are accessible through the notation “"self.name"”,
and an instance attribute hides a class attribute with the same name
when accessed in this way.  Class attributes can be used as defaults
for instance attributes, but using mutable values there can lead to
unexpected results.  Descriptors can be used to create instance
variables with different implementation details.

See also:

  **PEP 3115** - Metaclasses in Python 3000
     The proposal that changed the declaration of metaclasses to the
     current syntax, and the semantics for how classes with
     metaclasses are constructed.

  **PEP 3129** - Class Decorators
     The proposal that added class decorators.  Function and method
     decorators were introduced in **PEP 318**.

Related help topics: CLASSES, SPECIALMETHODS

help> functions
No Python documentation found for 'functions'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> function
No Python documentation found for 'function'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> symbols

Here is a list of the punctuation symbols which Python assigns special meaning
to. Enter any symbol to get more help.

!=                  +                   <=                  __
"                   +=                  <>                  `
"""                 ,                   ==                  b"
%                   -                   >                   b'
%=                  -=                  >=                  f"
&                   .                   >>                  f'
&=                  ...                 >>=                 j
'                   /                   @                   r"
'''                 //                  J                   r'
(                   //=                 [                   u"
)                   /=                  \                   u'
*                   :                   ]                   |
**                  <                   ^                   |=
**=                 <<                  ^=                  ~
*=                  <<=                 _


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [18]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [19]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [20]:
k=[23,435,67,334,75]
min(k)

23

In [21]:
k=[45,567,234,78,453]
max(k)

567

ii. user defined function

In [24]:
#defining a function
def function1():
    print('Hii Bun Bun')

In [30]:
def function2():
    print('kn karucha')

In [31]:
def function3():
    print('mo katha mane paduni ki???')

In [32]:
#calling a function
function1()

Hii Bun Bun

In [33]:
function2()

kn karucha

In [34]:
function3()

mo katha mane paduni ki???

In [35]:
def addition():
    a=3
    b=4
    c=a+b
    print('value of c = ',c)

In [36]:
addition()

value of c =  7

In [37]:
def subtraction():
    e=32
    f=23
    g=e-f
    print('value of g = ',g)

In [39]:
subtraction()

value of g =  9

In [40]:
def multiplication():
    a=23
    b=34
    c=a*b
    print('value of c = ',c)

In [41]:
multiplication()

value of c =  782

In [42]:
def areaofrectangle():
    length=123
    breadth=77
    area=length*breadth
    print('area of reactangle with length = ',length,'and breadth = ',breadth,'is',area)

In [43]:
areaofrectangle()

area of reactangle with length =  123 and breadth =  77 is 9471

In [45]:
def areaofcircle():
    pi=3.14
    radius=235
    area=pi*radius**2
    circumferance=2*pi*radius
    print('area and circumferance of circle with radius =',radius,'is ',area,circumferance,'cm square')

In [47]:
areaofcircle()

area and circumferance of circle with radius = 235 is  173406.5 1475.8 cm square

In [48]:
def areaofsquare():
    side=int(input('enter side of square'))
    area=side*side
    print('area of square with side =',side,'is',area)

In [50]:
areaofsquare()

enter side of square24
area of square with side = 24 is 576

PARAMETRIC FUNCTION

In [51]:
def add(a,b):
    c=a+b
    print('Addiation',c)

In [52]:
add(2,4)

Addiation 6

In [53]:
add(234,436)

Addiation 670

In [54]:
add(345,784)

Addiation 1129

In [55]:
def multi(e,t):
    s=e*t
    print('multiplication',s)

In [56]:
multi(23,45)

multiplication 1035

In [57]:
multi(12,35)

multiplication 420

In [58]:
def arearect(l,b):
    area=l*b
    print('The area of rectangle =',area)

In [60]:
l=int(input('Enter length'))
b=int(input('Enter Breadth'))
arearect(l,b)

Enter length24
Enter Breadth54
The area of rectangle = 1296

In [61]:
def areacir(pi,r):
    area=pi*r**2
    print('area of circle = ',area)

In [63]:
pi=3.14
r=int(input('enter radius'))
areacir(pi,r)

enter radius889
area of circle =  2481607.94

In [82]:
def task():
    name=input('enter your name here ')
    mark1=int(input('enter 1st test mark '))
    mark2=int(input('enter 2nd test mark '))
    total_marks=mark1+mark2
    print('Congratulations',name,', you have got',total_marks,'marks')

In [83]:
task()

enter your name here Adyasha
enter 1st test mark 34
enter 2nd test mark 56
Congratulations Adyasha , you have got 90 marks

In [84]:
def task2(name,mark1,mark2):
    total=mark1+mark2
    print('congrats',name,', you have got',total,'marks')

In [85]:
task2('Adya',23,45)

congrats Adya , you have got 68 marks

In [86]:
#kwargs

def kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [88]:
kwargs(name=['Adyasha','Adya'],occupation=['student','engineer'])

name ['Adyasha', 'Adya']
occupation ['student', 'engineer']

In [90]:
def sal(**kwargs):
    for k,v in kwargs.items():
        print(k,v)
        
sal_fun=sal(age=[25,30,45],salary=[25000,30000,45000])

age [25, 30, 45]
salary [25000, 30000, 45000]

In [94]:
for i in age():
    if i==30:
        print('Age',i)
for j in salary():
    if j==45000:
        print('Salary',j)

NameError: name 'age' is not defined

### GLOBAL VARIALBE AND LOCAL VARIABLE

In [1]:
x=23

In [2]:
x

23

In [3]:
def fun():
    a=233
    print(a)

In [4]:
fun()

233

In [13]:
def fun():
    print(x)
    a=234
    print(a)
    x=3266
    print(x)

In [14]:
fun()

UnboundLocalError: local variable 'x' referenced before assignment

In [12]:
a

NameError: name 'a' is not defined

In [15]:
def funadd():
    a=10
    b=463
    c=a+b
    print(c)

In [22]:
d=funadd()

In [23]:
d

789

In [16]:
funadd()

473

In [17]:
def funadd():
    a=443
    b=346
    c=a+b
    return c

In [18]:
funadd()

789

In [19]:
k=funadd()

In [20]:
k

789

In [26]:
length=234
area=length*b
print(area)

NameError: name 'b' is not defined

In [33]:
def fun1():
    l=23
    b=35
    are=l*b
    return are
    print('area = ',are)

In [34]:
fun1()

805

In [35]:
def circlearea():
    pi=3.14
    red=56
    carea=pi*red**2
    print('area of circle = ',carea)
    return carea

In [36]:
circlearea()

area of circle =  9847.04

9847.04

In [ ]:
#we can also hold the value of one function in another function

def outerfunction():

In [37]:
def ff():
    for i in range(10):
        if i==5:
            print(i)

In [38]:
ff()

5

In [44]:
def ff():
    for i in range(10):
        if i==5:
            return

In [45]:
ff()

In [46]:
def ff():
    for i in range(10):
        if i==5:
            return i

In [47]:
ff()

5

In [48]:
def ff():
    for i in range(10):
        if i==5:
            return
        print(i)

In [49]:
ff()

0
1
2
3
4

In [50]:
def ff():
    for i in range(10):
        if i==5:
            return
    print(i)

In [51]:
ff()

Temprature Conversion

In [4]:
def temp_far_cel(temp):
    return ((9/5)*temp+32)

In [5]:
temp_far_cel(20)

68.0

In [6]:
temp_far_cel(34)

93.2

In [7]:
def cel_far(tempr):
    return ((5/9)*tempr-32)

In [9]:
cel_far(234)

98.0

In [10]:
cel_far(326)

149.11111111111111

In [21]:
tc(24.235)

101.223

In [23]:
round(tc(24.645),2)

101.96

In [13]:
tz=[23,45,63,21,45,68,91]
tc1=lambda t:((5/9)*(t-32),tz)

In [24]:
tc1

NameError: name 'tc1' is not defined

In [15]:
tc=lambda t:((9/5)*(t+32))

In [16]:
tc(76)

194.4

In [32]:
def testin():
    x=int(input('enetr x'))
    y=int(input('enter y'))
    t=lambda x,y:x**y
    return t(x,y)

In [33]:
testin()

enetr x23
enter y2

529

In [30]:
def testin():
    x=int(input('enetr x'))
    y=int(input('enter y'))
    t=lambda x,y:x**y
    print(t(x,y))

In [31]:
testin()

enetr x12
enter y2
144

In [34]:
celcius =lambda t:(9/5)*t+32

In [36]:
celcius(32)

89.6

In [37]:
faren=lambda t:(5/9)*t-32

In [38]:
faren(234)

98.0

In [39]:
tz=[23,45,63,21,45,68,91]
tc=lambda t:((5/9)*(t-32))

In [40]:
tc

MAP IN LAMBDA

In [42]:
f=map(lambda x:x+2,tz)

In [43]:
f

In [44]:
f=list(map(lambda x:x+2,tz))

In [45]:
f

[25, 47, 65, 23, 47, 70, 93]

In [57]:
temprature=list(map(lambda t:((9/5)*t+32),f))

In [58]:
print(temprature)

[77.0, 116.60000000000001, 149.0, 73.4, 116.60000000000001, 158.0, 199.4]

In [60]:
newlist=[round(x,2) for x in temprature]

In [61]:
newlist

[77.0, 116.6, 149.0, 73.4, 116.6, 158.0, 199.4]

In [64]:
list1=['%.2f' % j for j in temprature]

In [65]:
list1

['77.00', '116.60', '149.00', '73.40', '116.60', '158.00', '199.40']

# FILTER IN LAMBDA

In [66]:
mylist=[1,2,3,4,5,5]
list(filter(lambda x:x>1 ,mylist))

[2, 3, 4, 5, 5]

In [67]:
even=lambda x:x%2==0
list(filter(even,range(2,20)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [68]:
#it can also be done by list comprehension
[x for x in range(2,20) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# OOPS: OBJECT ORIENTED PROGRAMMING SYSTEM

In [1]:
class Student():
    def __init__(self,rollno,name):                         #constructor to initialize
        self.rollno=rollno
        self.name=name
    def display(self):
        print('roll :',self.rollno,'and name :',self.name)

In [2]:
st1=Student(101,'Adyasha')
st1.display()

roll : 101 and name : Adyasha

In [3]:
st2=Student(102,'Bunny')
st2.display()

roll : 102 and name : Bunny

In [4]:
st3=Student(103,'XYZ')
st3.display()

roll : 103 and name : XYZ

In [5]:
class Employee():
    def __init__(self,name,age,salary,dept):
        self.name=name
        self.age=age
        self.salary=salary
        self.dept=dept
    def empdata(self):
        print('Employee Name = ',self.name)
        print('Employee Age = ',self.age)
        print('Employee Salary = ',self.salary)
        print('Employee Department = ',self.dept)

In [6]:
empid1=Employee('Adyasha',24,132900,'Data Science')
empid1.empdata()

Employee Name =  Adyasha
Employee Age =  24
Employee Salary =  132900
Employee Department =  Data Science

In [7]:
empid2=Employee('Bunny',31,213871,'Transportation')
empid2.empdata()

Employee Name =  Bunny
Employee Age =  31
Employee Salary =  213871
Employee Department =  Transportation

In [18]:
class Company():
    company_name='Microsoft'
    def __init__(self,name,iid,salary,dept):
        self.name=name
        self.iid=iid
        self.salary=salary
        self.dept=dept
    def display_data(self):
        print('Name = ',self.name)
        print('Id = ',self.iid)
        print('Salary = ',self.salary)
        print('Department = ',self.dept)

In [19]:
emp1=Company('Adyasha',101,2317122,'Datascience')
emp1.display_data()
Company.company_name

Name =  Adyasha
Id =  101
Salary =  2317122
Department =  Datascience

'Microsoft'

In [23]:
class Car():
    brand='internatonal'
    def __init__(self,name,colour):
        self.name=name
        self.colour=colour

In [27]:
C=Car('Audi','white')
print(C.name)
print(C.colour)
Car.brand

Audi
white

'internatonal'

In [29]:
class Campus():
    strength='9000'
    def __init__(self,name,no,branch):
        self.name=name
        self.no=no
        self.branch=branch
        
    def show(self):
        print('Name = ',self.name,'Number = ',self.no,'Branch = ',self.branch)

In [34]:
def main():
    c=Campus('Shell',1,'Asterdam')
    c.show()

In [35]:
if __name__=="__main__":
    main()
Campus.strength

Name =  Shell Number =  1 Branch =  Asterdam

'9000'

In [1]:
class School():
    def __init__(self,call,branch):
        self.call=call
        self.branch=branch
    def shows(self):
        print('name',self.call,'Branch',self.branch)

In [2]:
def main():
    S=School('DAV','BBSR')
    S.shows()

In [3]:
if __name__=='__main__':
    main()

name DAV Branch BBSR

In [6]:
#getdata and displaydata

class Sports():
    
    def __init__(self,name,age,field):
        self.name=name
        self.age=age
        self.field=field
        
    def getdata(self,name,age,field):
        #print('getdata values are printed')
        self.name=name
        self.age=age
        self.field=field
        
    def displaydata(self):
        print('this is ',self.name,'he is ',self.age,'he plays ',self.field)
        
def main():
    s=Sports('MS Dhoni',43,'Cricket')
    s.displaydata()
    
    s.getdata('Sunil Chettri',45,'Football')
    s.displaydata()
        
if __name__==main():
    main()

this is  MS Dhoni he is  43 he plays  Cricket
this is  Sunil Chettri he is  45 he plays  Football

# MODULES

In [7]:
import keyword

In [8]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
import sys

In [10]:
sys.path

['C:\\Users\\23ady',
 'C:\\Users\\23ady\\anaconda3\\python39.zip',
 'C:\\Users\\23ady\\anaconda3\\DLLs',
 'C:\\Users\\23ady\\anaconda3\\lib',
 'C:\\Users\\23ady\\anaconda3',
 '',
 'C:\\Users\\23ady\\anaconda3\\lib\\site-packages',
 'C:\\Users\\23ady\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\23ady\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\23ady\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\23ady\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\23ady\\.ipython']

In [11]:
import os

In [12]:
os.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__file__', '__cached__', '__builtins__', 'abc', 'sys', 'st', '_check_methods', 'GenericAlias', '__all__', '_exists', '_get_exports_list', 'name', 'linesep', 'stat', 'access', 'chdir', 'chmod', 'getcwd', 'getcwdb', 'link', 'listdir', 'lstat', 'mkdir', 'readlink', 'rename', 'replace', 'rmdir', 'symlink', 'system', 'umask', 'unlink', 'remove', 'utime', 'times', 'execv', 'execve', 'spawnv', 'spawnve', 'getpid', 'getppid', 'getlogin', 'kill', 'startfile', 'waitpid', 'open', 'close', 'closerange', 'device_encoding', 'dup', 'dup2', 'lseek', 'read', 'write', 'fstat', 'isatty', 'pipe', 'ftruncate', 'truncate', 'putenv', 'unsetenv', 'strerror', 'fsync', 'abort', 'urandom', 'get_terminal_size', 'cpu_count', 'get_inheritable', 'set_inheritable', 'get_handle_inheritable', 'set_handle_inheritable', 'scandir', 'fspath', 'waitstatus_to_exitcode', 'environ', 'F_OK', 'R_OK', 'W_OK', 'X_OK', 'TMP_MAX', 'O_RDONLY', 'O_WRONLY', 'O_RDWR', 'O_APPEND', 'O_CREAT', 'O_EXCL', 'O_TRUNC', 'O_BINARY', 'O_TEXT', 'O_NOINHERIT', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_RANDOM', 'O_SEQUENTIAL', 'P_WAIT', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_DETACH', 'error', 'stat_result', 'statvfs_result', 'terminal_size', 'DirEntry', 'times_result', 'uname_result', '_exit', 'path', 'curdir', 'pardir', 'sep', 'pathsep', 'defpath', 'extsep', 'altsep', 'devnull', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'SEEK_SET', 'SEEK_CUR', 'SEEK_END', 'makedirs', 'removedirs', 'renames', 'walk', '_walk', 'execl', 'execle', 'execlp', 'execlpe', 'execvp', 'execvpe', '_execvpe', 'get_exec_path', 'MutableMapping', 'Mapping', '_Environ', 'getenv', 'supports_bytes_environ', 'fsencode', 'fsdecode', 'spawnl', 'spawnle', 'popen', '_wrap_close', 'fdopen', '_fspath', 'PathLike', '_AddedDllDirectory', 'add_dll_directory'])

In [19]:
os.listdir()

['.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.eclipse',
 '.git',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.p2',
 '.ssh',
 '.VirtualBox',
 'abalone.csv',
 'anaconda3',
 'AppData',
 'Application Data',
 'Assignment 3.ipynb',
 'Assignment 4.ipynb',
 'bikes.csv',
 'brain_size.csv',
 'Contacts',
 'Cookies',
 'Documents',
 'Downloads',
 'eclipse-workspace',
 'emp1test.html',
 'emptest.csv',
 'Favorites',
 'headbrain.csv',
 'house_pred_submission.csv',
 'house_price.csv',
 'house_price_data_median.csv',
 'hrdata.csv',
 'hr_attrition_rate.csv',
 'iris.csv',
 'Links',
 'Local Settings',
 'Machine Learning.ipynb',
 'MSTeamsSetup_c_l_.exe',
 'Music',
 'My Documents',
 'my_studentdatabase.db',
 'NetHood',
 'New folder',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pima_india_diabetes.csv',
 'plantgrowth.csv',
 'president_heights.csv',
 'PrintHood',
 'python.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'selenium Assignment-1.ipynb',
 'Selenium Assignment-2.ipynb',
 'SendTo',
 'SQL 04-02.ipynb',
 'Start Menu',
 'student_marks.csv',
 'Templates',
 'titanic_train.csv',
 'Tracing',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled3.ipynb',
 'Videos',
 'VirtualBox VMs',
 'web',
 'Web Scrapping using BeaytifulSoup.ipynb',
 'web1',
 'Webscrapping Assignment 1.ipynb',
 'website',
 'winedataset.csv',
 'winequality.csv']

In [13]:
import math

In [14]:
math.pi

3.141592653589793

In [17]:
rad=23
area_of_circle=math.pi*rad**2
area_of_circle

1661.9025137490005

In [20]:
math.sqrt(81)

9.0

In [22]:
math.pow(234,2)

54756.0

In [23]:
math.sqrt(324)

18.0

In [24]:
math.sqrt(76324)

276.26798583983634

In [25]:
math.pow(23,4)

279841.0

In [26]:
import math as mt

In [27]:
mt.pi

3.141592653589793

In [28]:
mt.sqrt(72637)

269.5125229001428

In [29]:
mt.pow(23,4)

279841.0

In [30]:
from math import pi

In [31]:
pi

3.141592653589793

In [32]:
r=3
pi*r**2

28.274333882308138

In [33]:
sqrt(36)

NameError: name 'sqrt' is not defined

In [35]:
from math import sqrt

In [36]:
sqrt(49)

7.0

In [39]:
math.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log1p', 'log10', 'log2', 'modf', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc', 'prod', 'perm', 'comb', 'nextafter', 'ulp', 'pi', 'e', 'tau', 'inf', 'nan'])

In [40]:
from math import log

In [41]:
log(10)

2.302585092994046

In [43]:
from math import degrees

In [44]:
degrees(180)

10313.240312354817

In [46]:
degrees(23)

1317.8029288008934

In [65]:
dct={'sal':[10,20,30],'emp_num':[1,22,333]}

for i,j in dct.items():
    if i=='sal':
        print(j[2])

30

EXCEPTION HANDELING

In [66]:
def excep():
    try:
        user=int(input('Enter a no'))
    except:
        out=print('thats not a number')

In [67]:
excep()

Enter a nofds
thats not a number

In [68]:
excep()

Enter a no213

In [69]:
def exce():
    try:
        user=int(input('Enter a no '))
    except:
        out=print('Thats no a number')
    finally:
        print('am printed anyway')

In [70]:
exce()

Enter a no wees
Thats no a number
am printed anyway

In [71]:
exce()

Enter a no 32465235
am printed anyway

In [72]:
def exc():
    try:
        user=int(input('Enter any number'))
    except:
        out=print('Nope thats no a number')
        user=int(input('Try again enter a number'))
    finally:
        print('am executed anyway')

In [73]:
exc()

Enter any numberrw
Nope thats no a number
Try again enter a numbersf
am executed anyway

ValueError: invalid literal for int() with base 10: 'sf'

In [74]:
exc()

Enter any numberdfg
Nope thats no a number
Try again enter a numberqweq
am executed anyway

ValueError: invalid literal for int() with base 10: 'qweq'

In [75]:
exc()

Enter any numberedv
Nope thats no a number
Try again enter a number2134
am executed anyway

In [80]:
def ex():
    while True:
        try:
            user=int(input('Number'))
        except:
            out=print('Nope thats not a number')
            continue
        else:
            print('Yep looks like we have an integer')
            break
        finally:
            print('finally done')

In [81]:
ex()

NumberLDSFKJDSNF
Nope thats not a number
finally done
NumberNSBEF
Nope thats not a number
finally done
NumberJHSDDFGSUGFEU
Nope thats not a number
finally done
NumberGDYIUHDBJD
Nope thats not a number
finally done
NumberEDFTGEYF
Nope thats not a number
finally done
NumberE
Nope thats not a number
finally done
NumberSF
Nope thats not a number
finally done
Number36452
Yep looks like we have an integer
finally done